<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Docker-Flask</title>
</head>
<body>
    <h1>Docker and Flask Tutorial</h1>
    <h3>Visitor Number: {{value}}</h3>
    <h3>Conainer ID: {{cont}}</h3>
    <h3>Page Hits: {{pagec}}</h3>
    Check #2
    
    <h5>Deployed on server test #2</h5>

    <form method="POST" action="/">
        <input type="text" name="title">
        <input type="submit" value="Add">
      </form>

    <table>
        {% for book in allbooks %}
          <tr>
            <td>
              {{book.title}}
            </td>
            <td>
              <form method="POST" action="./update" style="display: inline">
                <input type="hidden" value="{{book.title}}" name="oldtitle">
                <input type="text" value="{{book.title}}" name="newtitle">
                <input type="submit" value="Update">
              </form>
            </td>
            <td>
              <form method="POST" action="./delete" style="display: inline">
                <input type="hidden" value="{{book.title}}" name="title">
                <input type="submit" value="Delete">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>

</body>
</html>
